.container {
	max-width: calc(100% - 2rem);
	padding-left: 0;
	padding-right: 0;

	@media #{$mq-sm-min} {
		max-width: calc(100% - 4rem);
	}
    
	@media #{$mq-2xl-min} {
        max-width: calc(100vw - 12rem);
    }   
}

.container-full {
	max-width: 100%;
}