.font-smaller {
	font-size: .65rem;
}

.font-small {
	font-size: .85rem;
}

.font-medium {
	font-size: 1.15rem;

	@media #{$mq-md-min} {
		line-height: 1.5;
	}
}

.font-big {
	font-size: 1.375rem;
	line-height: 1.3;

	@media #{$mq-md-min} {
		font-size: 1.5rem;
	}

	@media #{$mq-lg-min} {
		font-size: 1.75rem;
	}

	@media #{$mq-xl-min} {
		font-size: 2rem;
	}
}

.font-bigger {
	font-size: 2rem;
	line-height: 1.2;

	@media #{$mq-sm-min} {
		font-size: 2.5rem;
	}

	@media #{$mq-md-min} {
		font-size: 3rem;
		line-height: 1.1;
	}

	@media #{$mq-xl-min} {
		font-size: 3.5rem;
		line-height: 1;
	}
}

.regular {
	font-weight: $regular;
}

.bold {
	font-weight: $bold;
}