.logo {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: fit-content;

    @media #{$mq-md-min} {
        display: inline-block;
    }

    &:hover {
        .original {
            transform: translateY(-130%);
            transition: .3s ease-in-out;
        }

        .hover {
            transform: none;
            transition: .3s ease-in-out;
        }
    }

    .original {
        display: flex;
        height: auto;
    }

    .hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        transform: translateY(130%);
    }
}